html,
body,
.app {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
  margin: 0;
  overflow-y: hidden;
  overscroll-behavior: none;
  padding: 0;
  width: 100%;
}

.app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.player-target-container {
  /*
  height: 280px;
  width: 651px;
  width: 649px;
  //padding: 20px;
  border: 1px solid black;
  resize: both;
  overflow: scroll;


   */
}

.player-target-container {
  height: 100%;
  width: 100%;
}
