$background-color: #000;
$controls-color: rgba(50, 50, 50, 0.5);
$button-color: rgba(255, 255, 255, 1);
$slider-color: rgba(150, 150, 150, 1);

.eluvio-player {
  align-items: center;
  background-color: $background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  input[type="range"],
  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    opacity: 0.7;
    padding: 0;
    transition: opacity 0.1s linear;

    svg {
      stroke: $button-color;
    }

    &:hover {
      opacity: 1;
    }
  }

  input[type="range"] {
    appearance: none;
    background: $slider-color;
    border-radius: 3px;
    height: 8px;

    &::-webkit-slider-thumb {
      appearance: none;
      background-color: #ffffff;
      border: 0;
      border-radius: 100%;
      height: 8px;
      opacity: 1;
      width: 8px;
    }

    &::-moz-range-thumb {
      appearance: none;
      background-color: #ffffff;
      border: 0;
      border-radius: 100%;
      height: 8px;
      opacity: 1;
      width: 8px;
    }
  }

  &__video {
    cursor: pointer;
    margin: auto;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  &__watermark {
    height: 20px;
    left: 15px;
    opacity: 0.7;
    position: absolute;
    top: 15px;
  }

  &__big-play-button {
    position: absolute;
    z-index: 10;

    svg {
      opacity: 0.7;
      transition: opacity 0.1s linear;
      z-index: 11;
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &.eluvio-player__controls__button {
      height: 150px;
      width: 150px;

      svg {
        stroke-width: 1px;
      }
    }
  }

  &__controls {
    align-items: center;
    background: $controls-color;
    bottom: 0;
    display: flex;
    height: 40px;
    position: absolute;
    transition: opacity 0.25s linear;
    width: 100%;

    &__button {
      height: 25px;
      margin: 0 10px;
      width: 25px;
    }

    &__button-play {
      svg {
        fill: $button-color;
        stroke: transparent !important;
      }
    }

    &__progress-slider {
      flex: 1 1 auto;
      margin: 0 10px;
    }
  }
}
