$background-color: #000;
$controls-color: rgba(0, 0, 0, 0.4);
$button-color: #fff;
$slider-color: #717171;

.eluvio-player {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: relative;
  width: 100%;

  * {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
  }

  input[type="range"],
  button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.1s linear;

    &:hover {
      opacity: 1;
    }
  }

  input[type="range"] {
    -webkit-tap-highlight-color: transparent;
    appearance: none;
    background: transparent;
    border-radius: 3px;
    padding: 15px 0;

    &::-webkit-slider-thumb {
      appearance: none;
      background-color: $button-color;
      border: 0;
      border-radius: 100%;
      height: 11px;
      margin-top: -4px;
      opacity: 1;
      width: 11px;
    }

    &::-moz-range-thumb {
      appearance: none;
      background-color: $button-color;
      border: 0;
      border-radius: 100%;
      height: 11px;
      opacity: 1;
      width: 11px;
    }

    &::-webkit-slider-runnable-track {
      -webkit-tap-highlight-color: transparent;
      background: $slider-color;
      height: 3px;
    }

    &::-moz-range-track {
      -webkit-tap-highlight-color: transparent;
      background: $slider-color;
      height: 3px;
    }
  }

  &__video {
    background: $background-color;
    height: 100%;
    margin: auto;
    object-fit: contain;
    object-position: center;
    width: 100%;
  }

  &__watermark {
    height: 12px;
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 15px;

    svg {
      height: 14px;
      width: auto;

      * {
        fill: $button-color;
        stroke: $button-color;
      }
    }
  }

  &__controls {
    align-items: center;
    background: $controls-color;
    bottom: 0;
    display: flex;
    height: 50px;
    padding: 0 15px;
    position: absolute;
    transition: opacity 0.25s linear;
    width: 100%;

    &__button {
      height: 20px;
      margin: 0 10px;
      transition: opacity 0.25s linear;
      width: 20px;

      svg {
        height: 100%;
        width: 100%;

        * {
          stroke: $button-color;
          stroke-width: 3px;
        }
      }
    }

    &__volume-slider {
      width: 75px;
    }

    &__progress-slider {
      flex: 1 1 auto;
    }

    &__time {
      color: $button-color;
      font-size: 11px;
      text-align: center;
      width: 55px;
    }
  }

  &__big-play-button {
    position: absolute;
    z-index: 10;

    svg {
      height: 125px;
      opacity: 0.7;
      transition: opacity 0.1s linear;
      width: 125px;
      z-index: 11;

      * {
        fill: $button-color;
        stroke: transparent;
      }
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &.eluvio-player__controls__button {
      height: 150px;
      width: 150px;
    }
  }

  &.eluvio-player-autohide {
    .eluvio-player__controls {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 1000px) {
    input[type="range"] {
      &::-webkit-slider-runnable-track {
        height: 5px;
      }

      &::-moz-range-track {
        height: 5px;
      }
    }

    &__controls {
      height: 90px;

      &__button {
        height: 40px;
        margin: 0 20px;
        width: 40px;
      }

      &__volume-slider {
        display: none;
      }

      &__time {
        font-size: 20px;
        width: 100px;
      }
    }

    &:fullscreen {
      .eluvio-player__controls {
        &__button:not(.eluvio-player__big-play-button) {
          height: 20px;
          margin: 0 10px;
          padding: 0;
          width: 20px;
        }

        &__time {
          font-size: 12px;
        }
      }
    }
  }
}
